<div class="page-width">
    <div class="page-container">
        <div class="page-wrapper">
            <div class="error-content">
                <h2>Error, Data is not found. Plz set any section</h2>
            </div>
        </div>
    </div>
</div>