:root {
    --bold-font-weight: 600;
    --font-size: 16px;
    --color-black: #000;
}

/* Section Error */
.error-content {
    padding: 5rem, 0, 5rem, 0;
}

.error-content h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: var(--bold-font-weight);
}
/* End Section Error */

.custom_announcement-bar  > span {
    font-weight: var(--bold-font-weight);
    border-bottom: 1px solid #000;
}

.custom_announcement-bar-2 {
    padding-top: 0;
    padding-bottom: 0;
}

.custom_announcement-bar-2 > span {
    font-weight: var(--bold-font-weight);
    border-bottom: 1px solid var(--color-black);
    font-size: 1.3rem;
}

.header:not(.drawer-menu).page-width {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.header__inline-menu > ul > li > a > span {
    font-size: var(--small-font-size);
    font-weight: var(--bold-font-weight);
    letter-spacing: 1.5px;
    color: var(--color-black);
}

.custom__header-bundle {
    width: 60px;
}

.custom-cart-count-bubble {
    position: relative;
    margin-left: -10px;
}

.header__icon--cart {
    text-decoration: none;
    font-weight: 600;
}
